body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    position: relative;
    grid-area: header;
    background-color: #333;
    color: white;
    height: 100px;
    padding: 20px;
    width: 100%;
}

nav {
    grid-area: nav;
    background-color: #000;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

main {
    grid-area: main;
    background-color: #ccc;
    padding: 20px;
    min-height: 200px;
}

aside {
    grid-area: aside;
    background-color: #eee;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100px;
}